#dashboard_counter {width: 100% !important;padding: 8px 16px;}
#dashboard_counter .main_title {color: #424e79;margin: 6px 0px 6px 6px;}

/*HEADER COUNTERS*/
#dashboard_counter .counter_col {border-radius: 5px;margin: 0 16px;box-shadow: 3px 3px 10px 0 rgba(209, 196, 233, 0.5);padding: 10px;}
#dashboard_counter .counter_col .row {padding: 20px;}
#dashboard_counter .counter_col .row .counter_title {margin-bottom: 0;font-size: 16px;color: #424e79;}
#dashboard_counter .counter_col .row .counter_count {margin-bottom: 0;font-size: 30px;color: #424e79;}
/*MAIN CONTENT*/
#dashboard_counter .main_content {margin-top: 40px;}
#dashboard_counter .main_content .row {margin: 0 0px;}

/*BIRTHDAY PART IN MAIN CONTENT*/
#dashboard_counter .main_content .main_content_birthday {padding-left: 0; padding-right: 0;}
#dashboard_counter .main_content .main_content_birthday .main_birthday_container {border-radius: 5px; box-shadow: 3px 3px 10px 0 rgba(209, 196, 233, 0.5);margin-right: 25px;}
#dashboard_counter .main_content .main_content_birthday .main_birthday_container .birthday_title {padding: 10px 15px;border-bottom: 1px lightgray solid; margin-bottom: 0;}
#dashboard_counter .main_content .main_content_birthday .main_birthday_container .birthday_box {padding: 10px;min-height: 315px;height: 315px; overflow-y: auto;overflow-x: hidden;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_conteiner_main {display: flex; width: 100%;padding: 10px;background: #3c4566; border-radius: 5px;margin-bottom: 10px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_conteiner_main .birthday_image { width: 70px;height: 70px;background: #fff;border-radius: 8px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info {color: #fff;word-wrap: anywhere;width: 262px;font-weight: bold;margin-left: 10px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .line {background: #fff;margin-top: 3px; margin-bottom: 3px;width: 70%;margin-left: 0;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .birthday_wish {color: #ecb403;margin-bottom: 0;font-size: 16px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .birthday_wish .birthday_wish_img {vertical-align: top;margin-left: 3px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_conteiner_rest { display: flex;width: 100%;padding: 10px;background: #fff;border-radius: 5px;margin-top: 10px;border: 1px lightgray solid;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_conteiner_rest .birthday_image {width: 70px;height: 70px;background: lightgray;border-radius: 5px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_conteiner_rest .birthday_info { word-wrap: anywhere;width: 262px;font-weight: bold;margin-left: 10px;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .birthday_name {color: #424e79;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .birthday_date {color: #919191;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .line {background: #fff;margin-top: 3px;margin-bottom: 3px;width: 70%;margin-left: 0;}
#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_info .birthday_days {color: #616161;margin-bottom: 0;font-size: 16px;}

/*ANNIVERSARY PART IN MAIN CONTENT*/

#dashboard_counter .main_content .main_content_anniversary {padding-left: 0;padding-right: 0;}
#dashboard_counter .main_content .main_content_anniversary .main_anniversary_container {border-radius: 5px;box-shadow: 3px 3px 10px 0 rgba(209, 196, 233, 0.5);margin-right: 25px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_title {padding: 10px 15px;border-bottom: 1px lightgray solid;margin-bottom: 0;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_box {padding: 10px;min-height: 315px;height: 315px; overflow-y: auto;overflow-x: hidden;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_box .anniversary_conteiner_main {display: flex;width: 100%;padding: 10px;background: #3c4566;border-radius: 5px;margin-bottom: 10px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_conteiner_main .anniversary_image {width: 70px;height: 70px;background: #fff;border-radius: 8px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_info {color: #fff;word-wrap: anywhere;width: 262px;font-weight: bold;margin-left: 10px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_conteiner_main hr {background: #fff;margin-top: 3px;margin-bottom: 3px;width: 70%;margin-left: 0;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_conteiner_main .anniversary_wish {color: #ecb403;margin-bottom: 0;font-size: 16px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_wish .anniversary_wish_img {vertical-align: sub;margin-left: 3px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_conteiner_rest {display: flex;width: 100%;padding: 10px;background: #fff;border-radius: 5px;margin-top: 10px;border: 1px lightgray solid;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_conteiner_rest .anniversary_image {width: 70px;height: 70px;background: lightgray;border-radius: 5px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_info {word-wrap: anywhere;width: 262px;font-weight: bold;margin-left: 10px;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_info .anniversary_name {color: #424e79;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_info .anniversary_date {color: #919191;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_info hr {background: #fff;margin-top: 3px;margin-bottom: 3px;width: 70%;margin-left: 0;}
#dashboard_counter .main_content .main_anniversary_container .anniversary_info .annivarsary_days {color: #616161;margin-bottom: 0;font-size: 16px;}

/*ANNOUCEMENT PART IN MAIN CONTENT*/

#dashboard_counter .main_content .announcement_part {padding-left: 0;padding-right: 0;}
#dashboard_counter .main_content .announcement_box {border-radius: 5px;box-shadow: 3px 3px 10px 0 rgba(209, 196, 233, 0.5);}
#dashboard_counter .main_content .announcement_box .annoucement_title {padding: 10px 15px;border-bottom: 1px lightgray solid;margin-bottom: 0;}
#dashboard_counter .main_content .announcement_box .announcement_container {padding: 10px;min-height: 315px;height: 315px;overflow-y: auto;overflow-x: hidden;}
#dashboard_counter .main_content .announcement_box .announcement_container .main_annoucement {display: flex;width: 100%;padding: 10px;background: #fff;border-radius: 5px;border: 1px lightgray solid;}
#dashboard_counter .main_content .announcement_box .announcement_container .main_annoucement .annoucement_info {word-wrap: anywhere;font-weight: bold;margin-left: 10px;}
#dashboard_counter .main_content .announcement_box .announcement_container .main_annoucement .annoucement_info .annoucement_para {color: #424e79;}
#dashboard_counter .main_content .announcement_box .announcement_container .main_annoucement .annoucement_info .annoucement_date {color: #919191;margin: 5px 0;}
#dashboard_counter .main_content .announcement_box .announcement_container .another_announce {margin-top: 10px;}

/*PAYSLIP AND ATTENDANCE TABLES*/

#dashboard_counter .section_table {margin-top: 40px;}
#dashboard_counter .section_table .row {margin-left: 0;margin-right: 0;}
#dashboard_counter .section_table .payslip_table {padding-right: 0 !important;}
#dashboard_counter .section_table .payslip_table .payslip_content {border-radius: 5px;box-shadow: 3px 3px 10px 0 rgba(209, 196, 233, 0.5);}
#dashboard_counter .section_table .payslip_table .payslip_content .paylip_container {height: 300px;min-height: 300px;overflow-y: auto;overflow-x: hidden;}
#dashboard_counter .section_table .payslip_table .payslip_content .payslip_title {padding: 10px 15px;margin-bottom: 0;padding-left: 0;}
#dashboard_counter .section_table .payslip_table .payslip_content .payslip_heading {padding: 15px 5px 3px 14px;font-weight: bold;font-size: 16px;}
#dashboard_counter .section_table .payslip_table .payslip_content .payslip_details {padding: 5px 5px 3px 13px;font-weight: bold;}
#dashboard_counter .section_table .payslip_table .payslip_content .payslip_tags {padding: 3px 10px;border-radius: 20px;color: #fff;font-weight: bold;}
#dashboard_counter .section_table .payslip_table .payslip_content .status_yellow {background: #ecb403;}
#dashboard_counter .section_table .payslip_table .payslip_content .status_green {background: #019458;}
#dashboard_counter .section_table .payslip_table .payslip_content .status_red {background: #dc0441;}
#dashboard_counter .section_table .payslip_table .payslip_content .no_record {font-size: 16px;font-weight: bold;padding: 5px 5px 3px 13px;color: #2e3192;}
#dashboard_counter .section_table .payslip_table .payslip_content .expence_row {margin-right: 0;margin-left: 0;border-bottom: 1px lightgray solid;}
#dashboard_counter .section_table .payslip_table .payslip_content .expence_row .btn {float: right;margin-right: 5px;margin-top: 5px;border: 1px lightgray solid;}
#dashboard_counter .section_table .payslip_table .payslip_content .expence_row .col-2 {padding-right: 0;}

/*EXPENCE AND LEAVE TABLES*/

#dashboard_counter .section_table .expence_table {padding-left: 16px;padding-right: 0;}
#dashboard_counter .section_table .expence_table .expence_content {border-radius: 5px;box-shadow: 3px 3px 10px 0 rgba(209, 196, 233, 0.5);margin-right: 16px;}
#dashboard_counter .section_table .expence_table .expence_content .expence_container {min-height: 300px;height: 300px;overflow-y: auto;overflow-x: hidden;}
#dashboard_counter .section_table .expence_table .expence_content .expence_title {padding: 10px 15px;margin-bottom: 0;padding-left: 0;}
#dashboard_counter .section_table .expence_table .expence_content .expence_heading {padding: 15px 5px 3px 14px;font-weight: bold;font-size: 16px;}
#dashboard_counter .section_table .expence_table .expence_content .expence_details {padding: 5px 5px 3px 13px;font-weight: bold;}
#dashboard_counter .section_table .expence_table .expence_content .payslip_tags {padding: 3px 10px;border-radius: 20px;color: #fff;font-weight: bold;}
#dashboard_counter .section_table .expence_table .expence_content .status_yellow {background: #ecb403;}
#dashboard_counter .section_table .expence_table .expence_content .status_green {background: #019458;}
#dashboard_counter .section_table .expence_table .expence_content .status_red {background: #dc0441;}
#dashboard_counter .section_table .expence_table .expence_content .status_yellow_green {background: #fbc54a;}
#dashboard_counter .section_table .expence_table .expence_content .status_light_green {background: #2dcd8c;}
#dashboard_counter .section_table .expence_table .expence_content .no_record {font-size: 16px;font-weight: bold;padding: 5px 5px 3px 13px;color: #2e3192;}
#dashboard_counter .section_table .expence_table .expence_content .expence_row {margin-right: 0;margin-left: 0;border-bottom: 1px lightgray solid;}
#dashboard_counter .section_table .expence_table .expence_content .expence_row .btn {float: right;margin-right: 5px;margin-top: 5px;border: 1px lightgray solid;}
#dashboard_counter .section_table .expence_table .expence_content .expence_row .col-2 {padding-right: 0;}

/*MEDIA QUERIES*/

@media (max-width: 800px) {
    #dashboard_counter .counter_col {padding: 10px 10px 10px 10px;margin: 0 0px;}
    #dashboard_counter .counter_col .row {padding: 5px 0px;}
    #dashboard_counter .counter_col .row .counter_title {font-size: 12px;}
    #dashboard_counter .counter_col .row .counter_count {font-size: 17px;}
    #dashboard_counter .counter_col .row .col-4 .counter_img {width: 20px;}
    #dashboard_counter .main_content .row {margin: 0px 0px;}
    #dashboard_counter .main_content .row .main_content_anniversary .main_anniversary_container {margin-right: 0px;}
    #dashboard_counter .main_content .announcement_part {margin-top: 20px;}
    #dashboard_counter .row {margin-left: 0;margin-right: 0;}
    #dashboard_counter .main_content .row .main_content_birthday .main_birthday_container {margin-right: 16px;}
    #dashboard_counter .section_table .payslip_table {padding-left: 0;padding-right: 5px;margin-bottom: 20px;}
    #dashboard_counter .section_table .expence_table {padding-left: 5px;padding-right: 0;margin-bottom: 20px;}
    #dashboard_counter .main_content .announcement_box .announcement_container {margin-bottom: 20px;}
    #dashboard_counter .section_table .expence_table .expence_content {margin-right: 0px;}
    #dashboard_counter .section_table .payslip_table .payslip_content {padding-right: 0px;}
    #dashboard_counter .section_table .payslip_table .payslip_content .payslip_heading {font-size: 13px;padding: 5px 5px 3px 0px;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_heading {font-size: 13px;padding: 5px 5px 3px 0px;}
    #dashboard_counter .section_table .payslip_table .payslip_content .payslip_details {font-weight: normal;padding: 5px 0px 3px 0px;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_details {font-weight: normal;padding: 5px 0px 3px 0px;}
    #dashboard_counter .section_table .payslip_table .payslip_content .paylip_container {padding-right: 5px;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_details .col_space {padding-left: 0;padding-right: 0;}
    #dashboard_counter .section_table {margin-top: 0px;}
}
 @media (max-width: 768px) {
    #dashboard_counter .section_table .expence_table .expence_content {padding-right: 0px;}
    #dashboard_counter .section_table .expence_table .expence_content .payslip_tags {padding: 3px 5px;}
}
@media (max-width: 414px) {
    #dashboard_counter .main_content .row .main_content_birthday .main_birthday_container {margin-right: 0px;}
    #dashboard_counter .counter_col {flex: 0 0 50%;max-width: 50%;margin-top: 8px;}
    #dashboard_counter .main_content .row .main_content_anniversary .main_anniversary_container {margin-top: 16px;}
    #dashboard_counter .main_content .announcement_box {margin-right: 0px;}
    #dashboard_counter .section_table .payslip_table {padding-right: 0px;}
    #dashboard_counter .section_table .expence_table {padding-left: 0px;}
    #dashboard_counter .main_content .announcement_box {margin-top: 20px;}
    #dashboard_counter .main_content .announcement_part {margin-top: 0px;}
    #dashboard_counter .section_table .payslip_content .payslip_heading,
    #dashboard_counter .section_table .expence_content .expence_heading,
    #dashboard_counter .section_table .expence_content .expence_details,
    #dashboard_counter .section_table .payslip_content .payslip_details {padding: 5px 5px 3px 0px;}
    #dashboard_counter .section_table .expence_content .expence_heading .col-3,
    #dashboard_counter .section_table .expence_table .expence_content {padding-right: 0;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_container {padding-right: 12px;}
}
@media (max-width: 375px) {
    #dashboard_counter .section_table .expence_table .expence_content,
    #dashboard_counter .section_table .expence_table .expence_content .expence_container {padding-right: 0px;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_details .col_space .payslip_tags {padding: 3px 5px;}
}
@media only screen and (max-width: 992px) {
    #dashboard_counter .section_table .expence_table .expence_content .expence_container .expence_heading,
    #dashboard_counter .section_table .expence_table .expence_content .expence_details,
    #dashboard_counter .section_table .payslip_table .payslip_content .payslip_heading,
    #dashboard_counter .section_table .payslip_table .payslip_content .payslip_details {display: flex;flex-wrap: nowrap;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_container .col-2,
    #dashboard_counter .section_table .expence_table .expence_content .expence_container .col-3,
    #dashboard_counter .section_table .payslip_table .payslip_content .paylip_container .col-3 {width: 25%;white-space: normal;word-break: break-word;}
    #dashboard_counter .section_table .expence_table .expence_content .expence_container,
    #dashboard_counter .section_table .payslip_table .payslip_content .paylip_container {white-space: nowrap;overflow: auto;}
}
@media only screen and (max-width: 992px){
	#dashboard_counter .main_content .main_anniversary_container .anniversary_box .anniversary_conteiner_main,#dashboard_counter .main_content .main_content_birthday .birthday_box .birthday_conteiner_main{margin-bottom: 10px;}
}
@media only screen and (max-width: 767.98px) {
    #dashboard_counter .section_table .expence_table .expence_content .expence_container .col-2,
    #dashboard_counter .section_table .expence_table .expence_content .expence_container .col-3,
    #dashboard_counter .section_table .payslip_table .payslip_content .paylip_container .col-3 {width: 40%;white-space: normal;word-break: break-word;}
}

#dashboard_counter .col.counter_col.sh_box_col {display: flex;align-items: center;
}
#dashboard_counter .col.counter_col.sh_box_col .sh_dashboard_single_box {align-items: center;
}
