<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_sales_plan_main" name="Sales Plan" sequence="10"/>

    <!-- Reports Submenu -->
    <menuitem id="menu_plan_reports"
              name="Reports"
              parent="menu_sales_plan_main"
              sequence="30"/>

    <!-- Wing Report Menu Item -->
    <menuitem id="menu_wing_report"
              name="Wing Report"
              parent="menu_plan_reports"
              action="action_wing_report_web"
              sequence="10"/>

    <!-- Supervisor Report Menu Item -->
    <menuitem id="menu_supervisor_report"
              name="Supervisor Report"
              parent="menu_plan_reports"
              action="action_supervisor_report_web"
              sequence="20"/>

    <!-- Web Actions -->
 <record id="action_wing_report_web" model="ir.actions.act_url">
        <field name="name">Wing Report</field>
        <field name="url">/sales_plan/wing_report</field>
        <field name="target">self</field>
    </record>

    <record id="action_supervisor_report_web" model="ir.actions.act_url">
        <field name="name">Supervisor Report</field>
        <field name="url">/sales_plan/supervisor_report</field>
        <field name="target">self</field>
    </record>
</odoo>